/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: 'Muli', sans-serif;
    height: 100%;
    min-height: 100% !important;
    font-size: 1em;
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    padding-top: 0px; // same as header height
}

#about {
    background:
    linear-gradient(
        rgba(48, 88, 142, .8),
        rgba(48, 88, 142, .8)
    ),
    url("/portfolio/img/mountain.jpeg");
}

#contact {
    background:
    linear-gradient(
        rgba(48, 88, 142, .5),
        rgba(48, 88, 142, .5)
    ),
    url("/portfolio/img/road.jpeg");
}

.layer {
    background-color: #30588e;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.nav-up {
    top: -50px; // same as header height. use variables in LESS/SASS
}

#welcome {
    position: relative;
    width: 100%;
    height: 100%;
}

#canvas-content {
    height: 100%;
    width: 100%;
}

div.section {
    display: block;
    overflow: auto;
    width: 100%;
}

canvas {
    background-color: whitesmoke;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

#overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 500px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #30588e;
}

.section-container {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 200px;
}

a.contact-link {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

a.contact-link:hover {
    text-decoration: underline;
}

.section-content {
    display: inline-block;
    text-align: center;
    color: white;
    max-width: 500px;
}

.inverted {
    color: #30588e;
}

.section {
    opacity: 1;
    width: 100%;
    background-color: transparent;
    position: relative;
}

header {
    z-index: 2;
    opacity: .5;
    height: 40px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
}

.header {
    opacity: .8;
    width: 100%;
    height: 50px;
    background-color: #999999;
}

.content {
    height: 100% !important;
    width: 100%;
    position: relative;
}

.primary {
    background-color: #30588e;
}

.secondary {
    background-color: whitesmoke;
}

.front {
    z-index: auto;
}

.round-button {
    position: relative;
    top: 5px;
    left: 5px;
    width: 40px;
}
.round-button-circle {
    width: 100%;
    height:0;
    padding-bottom: 100%;
    border-radius: 50%;
    overflow:hidden;
    background: white;

    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /* ...and now for the proper property */
    transition:.5s;
}
.round-button-circle:hover {
    background:#30588e;
}
.round-button a {
    display:block;
    float:left;
    width:80%;
    padding-top:50%;
    padding-bottom:50%;
    line-height:1em;
    margin-top:-0.75em;

    text-align:center;
    color:lightsalmon;
    font-size:1em;
    font-weight:bold;
    text-decoration:none;
}

#content p {
    text-align: center;
    color: #E6E0CB;
    font-size: 1.1em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

.image {
    max-width: 90%;
    height: auto;
}

.small {
    max-width: 50%;
}

ul.nav {
    list-style-type: none;
    top: 0px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.nav-link {
    float: right;
    padding: 14px 16px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /* ...and now for the proper property */
    transition:.5s;
}

.nav-link:hover:not(.active) {
    background-color: #30588e;
}

.active {
    background-color: #4CAF50;
}

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #999999;
}

::-webkit-scrollbar-thumb {
    background: #30588e;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px #30588e;
}

::-webkit-scrollbar-corner {
    background: #999999;
}

ul.project-grid {
    width: 100%;
    text-align: center;
}

.project-grid li{
    display: inline-block;
    list-style-type: none;
}

.project-grid li{
    display: inline-block;
    list-style-type: none;
}

.project {
    background-color: #30588e;
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {

    .project-grid li{
        width: 50%;
    }
}

li.metronet {
    background:url("/portfolio/img/metronet.png");
    background-repeat: no-repeat;
    background-position: center;
}

li.bullhorn {
    background:url("/portfolio/img/bullhorn.png");
    background-repeat: no-repeat;
    background-position: center;
}

li.lookbook {
    background:url("/portfolio/img/lookbook.png");
    background-repeat: no-repeat;
    background-position: center;
}

li.maps {
    background:url("/portfolio/img/maps.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

li.project {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    min-height: 250px;
    min-width: 250px;
    width: 25%;
}

li.project:hover div.project-info {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.project-info {
    opacity: 0;
    color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #30588e;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.box {
    display:table-cell;
    vertical-align:middle;
    width: 100%;
    height: 100%;
}

li.skill {
    margin: 0px;
    padding: 0px;
    width: 25%;
    height: 200px;
    display: inline-block;
    color: #30588e;
}

.logo {
    position: relative;
    vertical-align: center;
}

.ghost-button {
    display: inline-block;
    width: 200px;
    border-radius: 20px;
    padding: 8px;
    color: #30588e;
    border: 1px solid #30588e;
    text-align: center;
    outline: none;
    text-decoration: none;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
